.mobiletopnav{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    align-items: center;
    display: none;
    z-index: 5;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white
}

.mobiletopnav img{
    width: 150px;
}

.mobiletopnav section{
    gap: 10px;
    display: flex;
}

@media (max-width: 911px){
    .mobiletopnav{
        display: flex;
    }
}